<p-toast></p-toast>

<!-- dialog register success -->
<p-dialog header="Đăng ký tài khoản thành công" [modal]="true" [(visible)]="isRegisterSuccess"
    [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <div class="register-success-container">
        <div class="register-success-header">
            <h1>Truy cập vào hệ thống</h1>
        </div>
        <div class="register-success-content">
            <p>Bạn đã đăng ký tài khoản thành công. Vui lòng đăng nhập để truy cập vào hệ thống</p>
        </div>
        <div class="register-success-button">
            <button pButton type="button" label="Đăng nhập" class="p-button-primary" (click)="goToLogin()"></button>
        </div>
    </div>
</p-dialog>

<div class="register-container">
    <div class="register-card">
        <div class="register-header">
            <div class="logo-container">
                <img src="images/ic_logo_starbucks.png" alt="Logo" class="logo-image">
            </div>
            <h1>Đăng ký tài khoản</h1>
            <p>Tạo tài khoản mới để truy cập vào hệ thống</p>
        </div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <!-- field item -->
                <div class="field">
                    <p-iftalabel>
                        <p-iconfield>
                            <p-inputicon class="pi pi-user" />
                            <input pInputText id="name" autocomplete="off" type="text" pInputText formControlName="name"
                                placeholder="Nhập họ tên">
                        </p-iconfield>
                        <label for="name">Họ tên</label>
                    </p-iftalabel>
                    <!-- error -->
                    <small
                        *ngIf="registerForm.get('name').errors && registerForm.get('name').errors['required'] && isSubmitted"
                        class="error-message">
                        Vui lòng nhập họ tên
                    </small>
                </div>

                <div class="field">
                    <p-iftalabel>
                        <p-iconfield>
                            <p-inputicon class="pi pi-envelope" />
                            <input pInputText id="email" autocomplete="off" type="email" pInputText
                                formControlName="email" placeholder="Nhập địa chỉ email">
                        </p-iconfield>
                        <label for="email">Email</label>
                    </p-iftalabel>
                    <!-- error -->
                    <small
                        *ngIf="registerForm.get('email').errors && registerForm.get('email').errors['required'] && isSubmitted"
                        class="error-message">Vui lòng nhập email</small>
                    <small
                        *ngIf="registerForm.get('email').errors && registerForm.get('email').errors['email'] && isSubmitted"
                        class="error-message">Email không hợp lệ</small>
                </div>

                <!-- field item -->
                <div class="field">
                    <p-iftalabel>
                        <p-iconfield>
                            <p-inputicon class="pi pi-lock" />
                            <p-password id="password" autocomplete="off" type="password" formControlName="password"
                                placeholder="Nhập mật khẩu" [toggleMask]="true" styleClass="w-full"
                                [style]="{'width': '100%'}">
                            </p-password>
                        </p-iconfield>
                        <label for="password">Mật khẩu</label>
                    </p-iftalabel>
                    <!-- error -->
                    <small
                        *ngIf="registerForm.get('password').errors && registerForm.get('password').errors['required'] && isSubmitted"
                        class="error-message">Vui lòng nhập mật khẩu</small>
                    <small
                        *ngIf="registerForm.get('password').errors && registerForm.get('password').errors['minlength'] && isSubmitted"
                        class="error-message">Mật khẩu phải có ít nhất 8 ký tự</small>
                </div>

                <!-- field item -->
                <div class="field">
                    <p-iftalabel>
                        <p-iconfield>
                            <p-inputicon class="pi pi-lock" />
                            <p-password id="passwordConfirm" autocomplete="off" type="password"
                                formControlName="passwordConfirm" placeholder="Nhập lại mật khẩu" [toggleMask]="true"
                                placeholder="Nhập mật khẩu" [toggleMask]="true" styleClass="w-full"
                                [style]="{'width': '100%'}">
                            </p-password>
                        </p-iconfield>
                        <label for="passwordConfirm">Xác nhận mật khẩu</label>
                    </p-iftalabel>
                    <!-- error -->
                    <small
                        *ngIf="registerForm.get('passwordConfirm').errors && registerForm.get('passwordConfirm').errors['required'] && isSubmitted"
                        class="error-message">Vui lòng nhập mật khẩu</small>
                </div>

                <!-- field item -->
                <div class="field">
                    <p-iftalabel>
                        <p-iconfield>
                            <p-inputicon class="pi pi-phone" />
                            <input id="phone" type="text" pInputText formControlName="phone"
                                placeholder="Nhập số điện thoại">
                        </p-iconfield>
                        <label for="phone">Số điện thoại</label>
                    </p-iftalabel>
                    <!-- error -->
                    <small
                        *ngIf="registerForm.get('phone').errors && registerForm.get('phone').errors['required'] && isSubmitted"
                        class="error-message">
                        Vui lòng nhập số điện thoại
                    </small>
                    <small
                        *ngIf="registerForm.get('phone').errors && registerForm.get('phone').errors['pattern'] && isSubmitted"
                        class="error-message">
                        Số điện thoại không hợp lệ
                    </small>
                </div>

                <div class="button-container">
                    <p-button type="submit" label="Đăng ký"
                        styleClass="p-button-raised p-button-rounded register-button">
                    </p-button>
                </div>
            </div>
        </form>

        <div class="login-link">
            <span>Đã có tài khoản? </span>
            <a href="/login">Đăng nhập ngay</a>
        </div>
    </div>
</div>