<p-toast></p-toast>

<p-confirmdialog />

<!-- Dialog tạo giao dịch mới -->
<p-dialog header="Tạo giao dịch mới" [modal]="true" [(visible)]="displayCreateDialog"
    [style]="{ width: '50rem', padding: '1rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [maximizable]="true" styleClass="transaction-dialog">
    <form [formGroup]="transactionForm" (ngSubmit)="createTransaction()">
        <div class="p-fluid p-formgrid">
            <!-- field item -->
            <div class="field mb-4">
                <label for="trans-type" class="block mb-2 font-medium">Loại giao dịch</label>
                <p-select id="trans-type" [(ngModel)]="selectedTransType" formControlName="transType"
                    [options]="transTypeOptions" placeholder="Chọn loại giao dịch" styleClass="w-full">
                </p-select>
                <!-- error -->
                <small
                    *ngIf="transactionForm.get('transType').errors && transactionForm.get('transType').errors['required'] && isSubmitted"
                    class="error-message block mt-2 text-red-500">
                    Vui lòng chọn loại giao dịch
                </small>
            </div>

            <!-- field item -->
            <div class="field mb-4">
                <p-iftalabel>
                    <p-iconfield>
                        <p-inputicon class="pi pi-money-bill" />
                        <input pInputText id="trans-money" autocomplete="off" type="text" formControlName="transMoney"
                            placeholder="Nhập số tiền" class="w-full p-inputtext">
                    </p-iconfield>
                    <label for="trans-money">Số tiền</label>
                </p-iftalabel>
                <!-- error -->
                <small
                    *ngIf="transactionForm.get('transMoney').errors && transactionForm.get('transMoney').errors['required'] && isSubmitted"
                    class="error-message block mt-2 text-red-500">
                    Vui lòng nhập số tiền
                </small>
            </div>

            <div class="button-container flex justify-content-end mt-4">
                <p-button type="button" label="Hủy" styleClass="p-button-outlined p-button-secondary mr-2"
                    (click)="displayCreateDialog = false"></p-button>
                <p-button type="submit" label="Tạo" styleClass="p-button-raised p-button-primary">
                </p-button>
            </div>
        </div>
    </form>
</p-dialog>

<!-- Body -->
<div class="dashboard-container surface-ground px-4 py-5 md:px-6 lg:px-8">
    <div class="text-900 font-medium text-xl mb-3">Quản lý giao dịch</div>

    <!-- Header Admin logout, update profile-->
    <div class="header-admin">
        <div class="header-admin-left">
            <!-- Avatar -->
            <div class="header-admin-left-item">
                <p-avatar [shape]="'circle'" [size]="'xlarge'" [image]="'images/avatar.avif'" />
            </div>
            <!-- hiển thị thông tin account -->
            <div class="header-admin-left-item">
                <div class="balance-container p-3 border-round shadow-1">
                    <div class="balance-label font-medium text-600 mb-1">Account Info:</div>
                    <div class="balance-amount text-xl font-bold text-primary">{{accountCurrent.name}}</div>
                </div>
            </div>
            <!-- Thêm phần hiển thị số dư tài khoản -->
            <div class="header-admin-left-item account-balance">
                <div class="balance-container p-3 border-round shadow-1">
                    <div class="balance-label font-medium text-600 mb-1">Số dư hiện tại:</div>
                    <div class="balance-amount text-xl font-bold text-primary">{{accountCurrent.balance | number}} VND
                    </div>
                </div>
            </div>
        </div>
        <div class="header-admin-right">
            <div class="header-admin-right-item">
                <p-button label="Đổi mật khẩu" icon="pi pi-lock" (onClick)="goToResetPassword()" />
            </div>
            <div class="header-admin-right-item">
                <p-button label="Cập nhật thông tin" icon="pi pi-user" (onClick)="updateProfile()" />
            </div>
            <div class="header-admin-right-item">
                <p-button label="Đăng xuất" icon="pi pi-sign-out" severity="danger" (onClick)="logout()" />
            </div>
        </div>
    </div>

    <!-- Bộ lọc giao dịch theo loại giao dịch-->
    <div class="surface-card p-4 shadow-2 border-round filter-card">
        <div class="filter-header">
            <div class="filter-title">Bộ lọc giao dịch theo loại giao dịch</div>
            <div class="filter-actions">
                <p-button label="Tạo giao dịch mới" icon="pi pi-plus" styleClass="p-button-success"
                    (onClick)="openCreateTransactionDialog()"></p-button>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-4 mb-2">
                <label class="label-filter">Loại giao dịch</label>
                <p-dropdown
                    [options]="[{label: 'Tất cả', value: 0}, {label: 'Gửi tiền', value: 1}, {label: 'Rút tiền', value: 2}]"
                    styleClass="w-full" placeholder="Chọn loại giao dịch"
                    (onChange)="onTransTypeChange($event)"></p-dropdown>
            </div>
        </div>
    </div>
    <!-- Bảng giao dịch -->
    <div class="surface-card p-4 shadow-2 border-round transaction-table">
        <!-- Bảng dữ liệu -->
        <p-table [value]="transactionDetails" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
            styleClass="p-datatable-sm" [rowHover]="true" [showCurrentPageReport]="true"
            currentPageReportTemplate="Hiển thị {first} đến {last} trong tổng số {totalRecords} giao dịch">
            <ng-template pTemplate="header">
                <tr>
                    <th>ID</th>
                    <th>Số tiền</th>
                    <th>Loại giao dịch</th>
                    <th>Ngày giao dịch</th>
                    <th>Thao tác</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transaction>
                <tr>
                    <td>{{transaction._id}}</td>
                    <td>
                        {{transaction.transType == TransType.DEPOSIT ? '+' : '-'}}
                        <span class="transaction-money">
                            {{transaction.transMoney | number}} VND
                        </span>
                    </td>
                    <td>
                        <span class="transaction-type"
                            [ngClass]="{'deposit': transaction.transType == TransType.DEPOSIT, 'withdrawal': transaction.transType == TransType.WITHDRAW}">
                            {{transaction.transType == TransType.DEPOSIT ? 'Gửi tiền' : 'Rút tiền'}}
                        </span>
                    </td>
                    <td>{{transaction.dateOfTrans | date:'dd/MM/yyyy'}}</td>
                    <td>
                        <p-button (click)="confirmDeleteTransaction(transaction)" label="Huỷ giao dịch" severity="danger"
                            [outlined]="true" icon="pi pi-trash" />
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6" class="text-center p-4">Không tìm thấy giao dịch nào.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>