<p-toast></p-toast>
<div class="forgot-password-container">
    <div class="forgot-password-card">
        <div class="forgot-password-header">
            <div class="logo-container">
                <img src="images/ic_logo_starbucks.png" alt="Logo" class="logo-image">
            </div>
            <h1>Quên mật khẩu</h1>
            <p *ngIf="!requestSent">Vui lòng nhập email của bạn để nhận hướng dẫn đặt lại mật khẩu.</p>
            <p *ngIf="requestSent" class="success-message">Hướng dẫn đặt lại mật khẩu đã được gửi đến email của bạn.</p>
        </div>

        <div *ngIf="!requestSent">
            <form [formGroup]="formForgotPassword" (ngSubmit)="submitForgotPassword()">
                <div class="p-fluid">
                    <!-- Email field -->
                    <div class="field">
                        <p-iftalabel>
                            <p-iconfield>
                                <p-inputicon class="pi pi-envelope" />
                                <input pInputText id="email" autocomplete="off" type="text" pInputText
                                    formControlName="email" placeholder="Nhập email">
                            </p-iconfield>
                            <label for="email">Email</label>
                        </p-iftalabel>
                        <!-- error -->
                        <small
                            *ngIf="formForgotPassword.get('email').errors && formForgotPassword.get('email').errors['required'] && isSubmitted"
                            class="error-message">
                            Vui lòng nhập email
                        </small>
                        <small
                            *ngIf="formForgotPassword.get('email').errors && formForgotPassword.get('email').errors['email'] && isSubmitted"
                            class="error-message">
                            Vui lòng nhập đúng định dạng email
                        </small>
                    </div>

                    <div class="button-container">
                        <p-button type="submit" label="Gửi yêu cầu"
                            styleClass="p-button-raised p-button-rounded submit-button" [loading]="loading"></p-button>
                    </div>
                </div>
            </form>
        </div>

        <div *ngIf="requestSent" class="resend-container">
            <p>Không nhận được email? Vui lòng kiểm tra thư mục spam hoặc</p>
            <p-button type="button" label="Gửi lại" styleClass="p-button-text p-button-rounded resend-button"
                (click)="submitForgotPassword()" [loading]="loading"></p-button>
        </div>

        <div class="login-link">
            <p-button type="button" label="Quay lại đăng nhập" styleClass="p-button-text p-button-rounded back-button"
                (click)="backToLogin()"></p-button>
        </div>
    </div>
</div>